*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

.container{
 width: 100%;
  background: url(bgimg.jpg) no-repeat;
  background-size: cover;
  color: rgb(236, 233, 233);
  padding: 15px 20px;
  border: 2px solid gray;
  border-radius: 4px;
  
}
.card_type,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{

  width:35%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
  margin: 6px;
}


 fieldset{
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
} 
p input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 50%;
  float: left;
  margin: 0 2px;
}
#gender,
#card_type
{
  border: 1px solid white;
  outline: none;
  background: rgb(27, 20, 4);
  color: rgba(255, 255, 255, 0.425);
  font-size: 18px;
  width: 35%;
  float: inline-start;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 13px;

}
.heading{
  
  text-align: center; 
  font-size: 40px;
  width: 42%;
  border-bottom: 3px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;    
}
input[type="submit"]{
  font-size: large;
  background-color: rgba(26, 180, 60, 0.877);
  color: black;
  padding:12px 20px;
  border:none;
  border-radius: 20px;
  width: 15%;
  margin-top: 1%;
  margin-left: 45%;
  
}
input[type="submit"]:hover{
  background-color: rgb(201, 140, 48);
  cursor: pointer;

}